<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div style="background-color:deepskyblue">Header</div>
        @RenderBody()
        <div style="background-color:red">footer</div>
    </div>
</body>
</html>
