
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

@{
    for(int i = 2; i <= 9; i++)
    {
        for(int j = 1; j <= 9; j++)
        {
            <h2>@i * @j = @(i*j)</h2>
        }
    }
}