<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div style="background-color:deepskyblue">(header)</div>
        @RenderBody()
        <div >(footer)it.develop.soo@gmail.com</div>
    </div>
</body>
</html>
