
@{
    ViewData["Title"] = "Day";
    ViewData["Year"] = DateTime.Now.Year;
    ViewData["Month"] = DateTime.Now.Month;
    ViewData["Day"] = DateTime.Now.Day;
}

<h1>오늘은 @ViewData["Year"]년 @ViewData["Month"]월 @ViewData["Day"]일 입니다.  </h1>

